<div class="container-fluid">
  <h1>New Member - {{MemberType}}</h1>
  <form>
    <div #memberForm class="accordion" id="memberForm">
      <div class="card">
        <div class="card-header" id="headingMemberType">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseMemberType" aria-expanded="false" aria-controls="collapseMemberType">
              Member Type
            </button>
          </h2>
        </div>
        <div id="collapseMemberType" class="collapse show" aria-labelledby="headingMemberType" data-parent="#memberForm">
          <div class="card-body">
            <div class="form-group">
              <label>Type</label>
              <div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input name="memberType" id="memberType_0" type="radio" class="custom-control-input" value="fullMember" required="required" [checked]='true' (click)="setMemberType('Full')">
                  <label for="memberType_0" class="custom-control-label">Adult</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input name="memberType" id="memberType_1" type="radio" class="custom-control-input" value="juniorMember" required="required" (click)="setMemberType('Junior')">
                  <label for="memberType_1" class="custom-control-label">Junior</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingContact">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseContact" aria-expanded="true" aria-controls="collapseContact">
              Contact
            </button>
          </h2>
        </div>
        <div id="collapseContact" class="collapse" aria-labelledby="headingContact" data-parent="#memberForm">
          <div class="card-body">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <input id="firstName" name="firstName" type="text" class="form-control" required="required">
              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <input id="lastName" name="lastName" type="text" class="form-control" required="required">
              </div>
            </div>
            <div class="form-group hide-junior">
              <label for="phone">Phone</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-phone"></i>
                  </div>
                </div>
                <input id="phone" name="phone" type="text" class="form-control" required="required">
              </div>
            </div>
            <div class="form-group hide-junior">
              <label for="email">Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-envelope"></i>
                  </div>
                </div>
                <input id="email" name="email" type="text" class="form-control" required="required">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card hide-junior">
        <div class="card-header" id="headingAddress">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAddress" aria-expanded="false" aria-controls="collapseAddress">
              Address
            </button>
          </h2>
        </div>
        <div id="collapseAddress" class="collapse" aria-labelledby="headingAddress" data-parent="#memberForm">
          <div class="card-body">
            <div class="form-group">
              <label for="address">Address</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-address-card-o"></i>
                  </div>
                </div>
                <input id="address" name="address" type="text" class="form-control" required="required">
              </div>
            </div>
            <div class="form-group">
              <label for="town">Town</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-address-card-o"></i>
                  </div>
                </div>
                <input id="town" name="town" type="text" class="form-control" required="required">
              </div>
            </div>
            <div class="form-group">
              <label for="postcode">Postcode</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-address-card-o"></i>
                  </div>
                </div>
                <input id="postcode" name="postcode" type="text" class="form-control" required="required">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card show-junior">
        <div class="card-header" id="headingGuardian">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseGuardian" aria-expanded="false" aria-controls="collapseGuardian">
              Guardian
            </button>
          </h2>
        </div>
        <div id="collapseGuardian" class="collapse" aria-labelledby="headingGuardian" data-parent="#memberForm">
          <div class="card-body">


          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingNotes">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNotes" aria-expanded="false" aria-controls="collapseNotes">
              Notes
            </button>
          </h2>
        </div>
        <div id="collapseNotes" class="collapse" aria-labelledby="headingNotes" data-parent="#memberForm">
          <div class="card-body">
            <div class="form-group">
              <textarea id="notes" name="notes" cols="40" rows="5" aria-describedby="notesHelpBlock" class="form-control"></textarea>
              <span id="notesHelpBlock" class="form-text text-muted">(Diet/Medical, etc)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success" type="button">
        Update Member List
      </button>
    </div>
  </form>
    <!--<form>
      <div calss="collapse" id="contact">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <input id="firstName" name="firstName" type="text" class="form-control" required="required">
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <input id="lastName" name="lastName" type="text" class="form-control" required="required">
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-phone"></i>
              </div>
            </div>
            <input id="phone" name="phone" type="text" class="form-control" required="required">
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-envelope"></i>
              </div>
            </div>
            <input id="email" name="email" type="text" class="form-control" required="required">
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Button with data-target
          </button>
        </div>
      </div>
    </form>
  </div>-->
